<html>
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../Scripts/PPT_MACHINE.js"></script>
    <link rel="stylesheet" href="../Styles/CommonStyle.css">
    
</head>
<body>

    <div ng-app="PPTApp">
    <PPT_GAME></PPT_GAME>
        <div ng-controller="PPTController">
            <div class="PlayersSelectionsMachine">
            Elige una opción
            <select ng-model="Player1Selection" ng-options="item for item in OptionsPlayer1" id="Player1Select"></select>
           
            
            
            
             
          
            
                <button ng-click="FunctionResult()" ng-init="Player1Wins=0;MachineWins=0" >Listo</button>
            </div>
            <a class="BackToMenuLink" href="Index.html" >Volver al menu</a>

            <div ng-show="ShowResult" >
            <div id="Result"></div>
            <div class="PlayersElections">
            <div ng-repeat="MachineOption in MachineArray"></div>
           <div>La máquina eligió: {{RandomMachineAnswer}}</div>
            <div>Jugador  eligió: {{ Player1Selection }}</div>
            </div>
            <button ng-click="hideresult()" >Volver a jugar</button>

            </div>
         
        <table style="width:50%"  >
            <tr>
                <th>Jugador </th>
                <th>Máquina</th> 
                
            </tr>
            <tr>
                <td name="playerwins">{{ Player1Wins }}</td>
                <td name="machinewins">{{ MachineWins }} </td>
               
            </tr>
           
           </table>
        
        </div>
    </div>

   
    
   
</body>
<footer>

</footer> 


</html>