<html>
<head>
    <title>PPT_GAME</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../Scripts/PPT.js"></script>
       
</head>
<body>
    <div ng-app="appppt" ng-controller="pptcontroller" > 
        
            Elige tu opción:
            <select ng-model="selectedName" ng-options="x for x in names"></select>
            <button ng-click="Func_PPT()">Listo</button>
            <div ng-show="ShowResult" >
            <p>Has elegido:{{ selectedName }}</p>
            <div ng-repeat="q in quotes">
                <p> {{quotes[getRandomIndex(quotes.length)].value}} </p>
          </div>
            <p id="Result"></p>
            </div>
            
    </div>

   
    
   
</body>
<footer>

</footer> 

</html>