<html>
<head>
    <title>PPT_GAME</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../Scripts/PPT.js"></script>
    <link rel="stylesheet" href="../Styles/CommonStyle.css">
       
</head>
<body>

    <div ng-app="PPTApp">
    <PPT_GAME></PPT_GAME>
        <div ng-controller="PPTController">
            <div class="PlayersSelections">
            Elección del Jugador 1:
            <select ng-model="Player1Selection" ng-options="item for item in OptionsPlayer1" id="Player1Select"></select>
            Elección del Jugador 2:
            <select ng-model="Player2Selection" ng-options="item for item in OptionsPlayer2" id="Player2Select"></select>
            <button ng-click="FunctionResult()" ng-init="Player1Wins=0;Player2Wins=0" >Listo</button>
        </div>
        <a class="BackToMenuLink" href="Index.html" >Volver al menu</a>

            <div ng-show="ShowResult" >
                <div class="PlayersElections">
            <div class="Player1Selection">Jugador 1 eligió: {{ Player1Selection }}</div>
            <div class="Player2Selection">Jugador 2 eligió: {{ Player2Selection }}</div>
               </div>
           
            <button ng-click="hideresult()" >Volver a jugar</button>
           

           
            
            
            <!-- Empates -->
            <div ng-if="Player1Selection=='Piedra' && Player2Selection=='Piedra'"  id="Result">Empate</div>
            <div ng-if="Player1Selection=='Papel' && Player2Selection=='Papel'" id="Result">Empate</div>
            <div ng-if="Player1Selection=='Tijera' && Player2Selection=='Tijera'" id="Result">Empate</div>
            <!-- Victorias Player1 -->
            <div ng-if="Player1Selection=='Piedra' && Player2Selection=='Tijera'; " id="Result">Jugador 1 gana </div>
            <div ng-if="Player1Selection=='Papel' && Player2Selection=='Piedra'" id="Result">Jugador 1 gana </div>
            <div ng-if="Player1Selection=='Tijera' && Player2Selection=='Papel'" id="Result">Jugador 1 gana </div>
            <!-- Victorias Player2 -->
            <div ng-if="Player1Selection=='Tijera' && Player2Selection=='Piedra'" id="Result">Jugador 2 gana </div>
            <div ng-if="Player1Selection=='Piedra' && Player2Selection=='Papel'" id="Result">Jugador 2 gana </div>
            <div ng-if="Player1Selection=='Papel' && Player2Selection=='Tijera'" id="Result">Jugador 2 gana </div>
            </div>
    
        <table style="width:50%">
        <tr>
            <th>Jugador 1</th>
            <th>Jugador 2</th> 
            
        </tr>
        <tr>
            <td>{{ Player1Wins }}</td>
            <td>{{ Player2Wins }}</td>
           
        </tr>
       </table>
        </div>
    </div>

   
    
   
</body>
<footer>

</footer> 

</html>