<html>
<head>
    <title>PPT_GAME</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../Scripts/PPT.js"></script>
       
</head>
<body>
 <!--   <div ng-app="appppt" ng-controller="pptcontroller" > 
        
            Elige tu opción:
            <select ng-model="selectedName" ng-options="x for x in names"></select>
            <button ng-click="Func_PPT()">Listo</button>
            <div ng-show="ShowResult" >
            <p>Has elegido:{{ selectedName }}</p>
            <div ng-repeat="q in quotes">
                <p> {{quotes[getRandomIndex(quotes.length)].value}} </p>
          </div>
            <p id="Result"></p>
            </div>
            
    </div>
-->
    <div ng-app="PPTApp">
        <div ng-controller="PPTController">
            Elige una opción
            <select ng-model="PlayerSelection" ng-options="item for item in OptionsPlayer" id="PlayerSelect"></select>
            <div ng-model="MachineSelection" ng-repeat="Item in OptionsMachine">
                
            </div>
            
            
             
          
            
                <button ng-click="Func_PPT()" >Listo</button>


            <div ng-show="ShowResult" >
            <div>Elegiste: {{ PlayerSelection }}</div>
            <div>La máquina eligió: {{ MachineSelection.value }}</div>
            <div id="MachineResult"></div>
            <div ng-if="PlayerSelection=='Piedra' && MachineSelection.value=='Piedra'" id="Result">sdfsdfsdfsdfsdfsadf</div>
            </div>
        </div>
    </div>

   
    
   
</body>
<footer>

</footer> 

</html>